*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Wrapper{
    width: 1200px;
    margin: 0 auto;
}
section{
    padding: 2em 2em;
    display: flex;
   
    justify-content: space-between;
}
section h1{
    text-transform: uppercase;
}
section p{
    padding: 1em 0;
}